<form #editpasswordForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="z-currpass">Mot de passe actuel</label>
        <input #currPass="ngModel" [class.input-invalid]="currPass.touched && _stagiaireSer.testAttribute(currPass.value , 6)"  class="text-zone"  type="password" id="z-currpass" name="currPass" placeholder="Saisissez votre mot de passe" ngModel>
        @if( currPass.touched && _stagiaireSer.testAttribute(currPass.value , 6)  ){
            <small class="invalid">Veuillez saisir votre mot de passe actuel (obligatoire)</small>
        }@else if(currpass){
            <small class="invalid">Le mot de passe actuel est incorrecte</small>
        }
    </div>
    <div>
        <label for="z-newwpass">Nouveau mot de passe</label>
        <input #newPass="ngModel" [class.input-invalid]="newPass.touched && _stagiaireSer.testAttribute(newPass.value , 6)" class="text-zone"  type="password" id="z-newpass" name="newPass" placeholder="nouveau mot de passe" ngModel>
        <input #rePass="ngModel" [class.input-invalid]="rePass.touched && rePass.value != newPass.value" class="text-zone"  type="password" id="z-renewpass" name="renewPass" placeholder="Confirmez votre nouveau mot de passe" ngModel>
        
        @if(newPass.touched && _stagiaireSer.testAttribute(newPass.value , 6)  ){
            <small class="invalid">Veuillez saisir un nouveau mot de passe valide (obligatoire).</small>
        }
        @else if( rePass.touched && rePass.value != newPass.value ){
            <small class="invalid">Veuillez confirmer le nouveau mot de passe (obligatoire).</small>
        }
    </div>
    @if( changed  ){
        <div class="succ-modif">Votre mot de passe a été modifiée avec succès.</div>
    }
    <div>
        <button button class="btn" type="submit">Modifier</button>
    </div>
</form>
